@import "tailwindcss";
@import "./components.css";
@import "./utilities.css";

@custom-variant hover-hover (@media (hover: hover) and (pointer: fine));

@layer base {
  :root {
    --color-surface: #ffffff;
    --color-modal: oklch(1 0 0);
    --color-modal-hovered: color-mix(
      in oklab,
      oklch(0.191 0.002 106.586) 3.9%,
      var(--color-modal)
    );

    --color-popover: oklch(0.227 0.004 84.587);
    --color-popover-hovered: oklch(0.827 0 0 / 0.122);
    --color-popover-content: oklch(0.889 0.011 63.345);
    --color-popover-content-subtle: oklch(0.696 0.008 61.399);

    --color-background-subtle: oklch(0.191 0.002 106.586 / 0.016);
    --color-background: oklch(0.191 0.002 106.586 / 0.031);
    --color-background-hovered: oklch(0.191 0.002 106.586 / 0.059);

    --color-border: oklch(0.191 0.002 106.586 / 0.051);

    --color-content: oklch(0.191 0.002 106.586);
    --color-content-subtle: oklch(0.528 0.005 91.488);

    --color-orange: oklch(0.651 0.2 38.329);
    --color-orange-subtle: oklch(0.651 0.2 38.329 / 0.102);

    --shadow-custom:
      0px 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 1px 2px -1px rgba(0, 0, 0, 0.06),
      0px 2px 4px 0px rgba(0, 0, 0, 0.04);

    --sidebar-width: 16rem;

    --shadow-popover:
      0px 2px 6px 0px rgba(0, 0, 0, 0.02),
      0px 5px 17px 0px rgba(0, 0, 0, 0.031),
      0px 11px 40px 0px rgba(0, 0, 0, 0.039),
      0px 36px 134px 0px rgba(0, 0, 0, 0.059);
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-surface: #1d1c1a;
      --color-modal: oklch(0.293 0.004 84.581);
      --color-modal-hovered: color-mix(
        in oklab,
        oklch(0.827 0 0) 5.9%,
        var(--color-modal)
      );

      --color-popover: oklch(0.293 0.004 84.581);

      --color-background-subtle: oklch(0.827 0 0 / 0.039);
      --color-background: oklch(0.827 0 0 / 0.059);
      --color-background-hovered: oklch(0.827 0 0 / 0.122);

      --color-border: oklch(1 0 0 / 0.051);

      --color-content: oklch(0.889 0.011 63.345);
      --color-content-subtle: oklch(0.696 0.008 61.399);

      --shadow-custom: 0 0 0 1px oklch(1 0 0 / 0.1);
      --shadow-popover: none;
      color-scheme: dark;
    }
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  button,
  a,
  input,
  [role="button"] {
    touch-action: manipulation;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      transition-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-content-subtle);
  }

  dialog {
    margin: auto;
  }

  * {
    font-variant-ligatures: none;
    outline-color: var(--color-content);
  }

  *:focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-content);
    outline-offset: 2px;
    border-radius: 4px;
  }

  ::selection {
    color: var(--color-orange);
    background-color: var(--color-orange-subtle);
  }

  br::selection {
    background-color: transparent !important;
  }
}

@theme inline {
  --color-surface: var(--color-surface);
  --color-modal: var(--color-modal);
  --color-modal-hovered: var(--color-modal-hovered);
  --color-popover: var(--color-popover);
  --color-popover-hovered: var(--color-popover-hovered);
  --color-popover-content: var(--color-popover-content);
  --color-popover-content-subtle: var(--color-popover-content-subtle);
  --color-background-subtle: var(--color-background-subtle);
  --color-background: var(--color-background);
  --color-background-hovered: var(--color-background-hovered);
  --color-border: var(--color-border);
  --color-content: var(--color-content);
  --color-content-subtle: var(--color-content-subtle);
  --color-orange: var(--color-orange);
  --color-orange-subtle: var(--color-orange-subtle);
  --shadow-custom: var(--shadow-custom);
  --shadow-popover: var(--shadow-popover);
  --font-sans: var(--font-inter);
  --font-sans--font-feature-settings: "cv01", "ss03";
  --font-paper-mono: var(--font-paper-mono);
  --font-paper-mono--font-feature-settings: normal;
}

@theme {
  --font-weight-semimedium: 450;

  --text-2xs: 11px;
  --text-2xs--line-height: calc(16 / 11);

  --text-sm: 13px;
  --text-sm--line-height: calc(20 / 13);
  --text-base: 15px;
  --text-base--line-height: calc(24 / 15);
}
