@layer utilities {
  .popup-transition {
    transition-timing-function: var(--ease-out);
    transition-duration: 200ms;
    transition-property: scale, opacity;

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
      scale: 0.95;
    }
  }

  .scroll-fade-y {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      #000 min(var(--scroll-area-overflow-y-start), 32px),
      #000 calc(100% - min(var(--scroll-area-overflow-y-end), 32px)),
      transparent
    );
  }
}
